

#messages {
	height: 600px;
	border: 5px solid darkgray;
	overflow-y: scroll;
}

#server {
	font-size: 1em;
	font-style: italic;
	color: lightgray;
	padding: 0;
}

#me {
	color: blue;
	padding: 0;
}

#other {
	color: red;
	padding: 0;
}

